@using Kendo.Mvc.UI;
@using SAMS.Model;
@{
    Layout = "~/Views/Shared/_Layout_partial.cshtml";
}

<script type="text/javascript">
    function AssetAttributeCategorygriderror_error(e) {
        if (e.errors) {
            var message = "There are some errors:\n";
            // Create a message containing all errors.
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            // Display the message.
            Swal.fire({ icon: 'error', text: message, showConfirmButton: true });
            // Cancel the changes.
            var grid = $("#AssetAttributeCategorygrid").data("kendoGrid");
            grid.cancelChanges();
        }
    }

    function AssetAttributeCategorygridrequest_end(e) {
        if ((e.type === "create" && e.response.Errors === null) || (e.type === "update" && e.response.Errors === null))
        {
            Swal.fire({ icon: 'success', text: "Əməliyyat uğurla tamamlandı.", showConfirmButton: false, timer: 1500 });
        }
    }

    function getgridTooltip(e) {
        var dataItem = $("#AssetAttributeCategorygrid").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = 'Created at: ' + kendo.toString(kendo.parseDate(dataItem.CreateDate), "dd.MM.yyyy HH:mm") + ' Changed at: ' + kendo.toString(kendo.parseDate(dataItem.CreateDate), "dd.MM.yyyy HH:mm") + '<br/>Changed by:' + dataItem.ChangedByFullName;
        return content;
    }


    function onAssetAttributeCategorygridChange(e) {
        var dataItem = this.dataItem(this.select());
        if(dataItem){
          var id = dataItem.AssetAttributeCategoryID;
          $("#AssetAttributeCategoryID").val(id);
        }
    }




    function FunAssetAttributeCategoryID() {
        var _selId = $("#AssetAttributeCategoryID").val();
        return {
            assetattributecategoryid: _selId
        };
    }

    function SetAssetAttributeCategorygrid_edit(arg) {
        if (arg === true) {
            $("#AssetAttributeCategorygrid_edit_button").hide();
            $("#AssetAttributeCategorygrid_delete_button").hide();
            $("#charcat_pdf").hide();
            $("#charcat_excel").hide();
            $("#AssetAttributeCategorygrid_add_button").hide();
            $("#AssetAttributeCategorygrid_cancel_button").show();
            $("#AssetAttributeCategorygrid_update_button").show();
        }
        else {
            $("#AssetAttributeCategorygrid_edit_button").show();
            $("#AssetAttributeCategorygrid_delete_button").show();
            $("#charcat_pdf").show();
            $("#charcat_excel").show();
            $("#AssetAttributeCategorygrid_add_button").show();
            $("#AssetAttributeCategorygrid_cancel_button").hide();
            $("#AssetAttributeCategorygrid_update_button").hide();
        }
    }

    function AddAssetAttributeCategorygridrow() {
        $("#AssetAttributeCategoryID").val('');
        grid = $("#AssetAttributeCategorygrid").data("kendoGrid");
        grid.addRow();
        SetAssetAttributeCategorygrid_edit(true);
    }


    $(document).ready(function () {


        $("#AssetAttributeCategorygrid_edit_button").on("click", function (e) {
            e.preventDefault();
            var grid = $("#AssetAttributeCategorygrid").getKendoGrid();
            var selectedrow = grid.select()[0];
            if (selectedrow) {
                grid.editRow(selectedrow);
                SetAssetAttributeCategorygrid_edit(true);
            }
        });

        $("#AssetAttributeCategorygrid_add_button").on("click", function () {
            AddAssetAttributeCategorygridrow();
        });

        $("#AssetAttributeCategorygrid_delete_button").on("click", function () {
            grid = $("#AssetAttributeCategorygrid").data("kendoGrid");
            var sel = $("#AssetAttributeCategorygrid").data("kendoGrid").select();
            grid.removeRow(sel);
            SetAssetAttributeCategorygrid_edit(false);
        });

        $("#AssetAttributeCategorygrid_update_button").on("click", function () {
            debugger;
            $("#AssetAttributeCategorygrid").data("kendoGrid").saveChanges();
            SetAssetAttributeCategorygrid_edit(false);
        });

        $("#AssetAttributeCategorygrid_cancel_button").on("click", function () {
            $("#AssetAttributeCategorygrid").data("kendoGrid").cancelChanges();
            SetAssetAttributeCategorygrid_edit(false);
        });
        SetAssetAttributeCategorygrid_edit(false);

        $("#AssetAttributeCategorygrid").kendoTooltip({
            filter: "th", // Select the th elements of the Grid.
            position: "top",
            width: 250,
            content: function (e) {
                // Return the text content of the hovered header.
                return e.target.text();
            }
        }).data("kendoTooltip");
    });


</script>

<body>
    <input type="hidden" name="AssetAttributeCategoryID" id="AssetAttributeCategoryID" />
<div>
        @{
            int AssetAttributeCategoryPermission = (int)ViewData["AssetAttributeCategoryPermission"];
        }
        @(Html.Kendo().Grid<AssetAttributeCategoryModel>()
                        .Name("AssetAttributeCategorygrid")
                          .ToolBar(toolbar =>
                          {
                          toolbar.Template(@<text>
                                                <div class="toolbar">
                                                    @if (AssetAttributeCategoryPermission >2){           
                                                     <div id="AssetAttributeCategorygrid_add_button" class="k-button-icontext k-grid-add circleButton">
                                                        <a href="#">
                                                            <span class="inner"></span>
                                                            <i class='far fa-plus-square' style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                    }
                                                    @if (AssetAttributeCategoryPermission >3){
                                                    <div id="AssetAttributeCategorygrid_edit_button" class="k-button-icontext k-grid-edit circleButton">
                                                        <a href="#">
                                                            <span class="inner"></span>
                                                            <i class='far fa-edit' style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                    }
                                                    @if (AssetAttributeCategoryPermission ==5){
                                                    <div id="AssetAttributeCategorygrid_delete_button" class="k-button-icontext k-grid-delete circleButton">
                                                        <a href="#">
                                                            <span class="inner"></span>
                                                            <i class='far fa-trash-alt' style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                    }
                                                    <div id="AssetAttributeCategorygrid_update_button" class="k-button-icontext k-grid-update circleButton">
                                                        <a href="#">
                                                            <span class="inner"></span>
                                                            <i class='far fa-check-circle' style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                    <div id="AssetAttributeCategorygrid_cancel_button" class="k-button-icontext k-grid-cancel circleButton">
                                                        <a href="#">
                                                            <span class="inner"></span>
                                                            <i class='far fa-times-circle' style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </text>);
                          })
                        .Columns(columns =>
                        {
				                  columns.Bound(p => p.AssetAttributeCategoryName);
				                  columns.Bound(p => p.Deactivate).ClientTemplate("<input disabled type= 'checkbox' #= Deactivate ? checked='checked' :'' # />").EditorTemplateName("<input type= 'checkbox' #= Deactivate ? checked='checked' :'' # />");
				                  columns.Bound(p => p.CreateDate).Format("{0:dd.MM.yyyy}");
				                  columns.Bound(p => p.ChangeDate).Format("{0:dd.MM.yyyy}");
				                  columns.Bound(p => p.ChangedByFullName);
                          columns.Bound(p => p.AssetAttributeCategoryID).ClientTemplate(@"<div class='columnicon' style='background-image: url(" + @Url.Content("~/Images/info.jpg") + ");'></div>").Title("Change Info").Width(50);
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .Groupable()
                        .Resizable(resize => resize.Columns(true))
                        .Selectable(selectable =>
                        {
                            selectable.Mode(GridSelectionMode.Single);
                            selectable.Type(GridSelectionType.Row);
                        })
                        .Sortable(sortable =>
                        {
                            sortable.SortMode(GridSortMode.SingleColumn);
                        })
                        .Navigatable()
                        .Filterable()
                        .Scrollable(scr => scr.Height(600))
                        .Events(ev => ev
                            .Change("onAssetAttributeCategorygridChange")
                        )
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                        .Events(events => events
                            .Error("AssetAttributeCategorygriderror_error")
                            .RequestEnd("AssetAttributeCategorygridrequest_end")
                        )
                        .Read(ac => ac.Action("AssetAttributeCategories_Read", "AssetAttributeCategories"))
                        .Create(ac => ac.Action("AssetAttributeCategories_Create", "AssetAttributeCategories"))
                        .Update(ac => ac.Action("AssetAttributeCategories_Update", "AssetAttributeCategories"))
                        .Destroy(ac => ac.Action("AssetAttributeCategories_Destroy", "AssetAttributeCategories"))
                        .Model(model =>
                        {
				model.Id(p => p.AssetAttributeCategoryID); model.Field(p => p.AssetAttributeCategoryID).Editable(false);
				model.Field(p => p.AssetAttributeCategoryName);
				model.Field(p => p.Deactivate);
				model.Field(p => p.CreateDate).Editable(false);
				model.Field(p => p.ChangeDate).Editable(false);
				model.Field(p => p.ChangedBy).Editable(false);
				model.Field(p => p.ChangedByFullName).Editable(false);
                        })
                        )
                        )
@(Html.Kendo().Tooltip()
    .For("#AssetAttributeCategorygrid")
    .Filter("td:nth-child(6)")
    //.ContentTemplateId("tooltiptemplate")
    .ContentHandler("getgridTooltip")
    .Position(TooltipPosition.Top)
    .Width(250)
    .Height(100)
)
    </div>

</body>

