@using Kendo.Mvc.UI;
@using SAMS.Model;
@{
    Layout = "~/Views/Shared/_Layout_partial.cshtml";
}

<script type="text/javascript">
    function AssetCategoryDocumentTypeMapgriderror_error(e) {
        if (e.errors) {
            var message = "There are some errors:\n";
            // Create a message containing all errors.
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            // Display the message.
            Swal.fire({ icon: 'error', text: message, showConfirmButton: true });
            // Cancel the changes.
            var grid = $("#AssetCategoryDocumentTypeMapgrid").data("kendoGrid");
            grid.cancelChanges();
        }
    }

    function AssetCategoryDocumentTypeMapgridrequest_end(e) {
        if ((e.type === "create" && e.response.Errors === null) || (e.type === "update" && e.response.Errors === null))
        {
            Swal.fire({ icon: 'success', text: "Əməliyyat uğurla tamamlandı.", showConfirmButton: false, timer: 1500 });
        }
    }

    function getgridTooltip(e) {
        var dataItem = $("#AssetCategoryDocumentTypeMapgrid").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = 'Created at: ' + kendo.toString(kendo.parseDate(dataItem.CreateDate), "dd.MM.yyyy HH:mm") + ' Changed at: ' + kendo.toString(kendo.parseDate(dataItem.CreateDate), "dd.MM.yyyy HH:mm") + '<br/>Changed by:' + dataItem.ChangedByFullName;
        return content;
    }


    function onAssetCategoryDocumentTypeMapgridChange(e) {
        var dataItem = this.dataItem(this.select());
        if(dataItem){
          var id = dataItem.AssetCategoryDocumentTypeMapID;
          $("#AssetCategoryDocumentTypeMapID").val(id);
        }
    }




    function FunAssetCategoryDocumentTypeMapID() {
        var _selId = $("#AssetCategoryDocumentTypeMapID").val();
        return {
            assetcategorydocumenttypemapid: _selId
        };
    }

    function SetAssetCategoryDocumentTypeMapgrid_edit(arg) {
        if (arg === true) {
            $("#AssetCategoryDocumentTypeMapgrid_edit_button").hide();
            $("#AssetCategoryDocumentTypeMapgrid_delete_button").hide();
            $("#charcat_pdf").hide();
            $("#charcat_excel").hide();
            $("#AssetCategoryDocumentTypeMapgrid_add_button").hide();
            $("#AssetCategoryDocumentTypeMapgrid_cancel_button").show();
            $("#AssetCategoryDocumentTypeMapgrid_update_button").show();
        }
        else {
            $("#AssetCategoryDocumentTypeMapgrid_edit_button").show();
            $("#AssetCategoryDocumentTypeMapgrid_delete_button").show();
            $("#charcat_pdf").show();
            $("#charcat_excel").show();
            $("#AssetCategoryDocumentTypeMapgrid_add_button").show();
            $("#AssetCategoryDocumentTypeMapgrid_cancel_button").hide();
            $("#AssetCategoryDocumentTypeMapgrid_update_button").hide();
        }
    }

    function AddAssetCategoryDocumentTypeMapgridrow() {
        $("#AssetCategoryDocumentTypeMapID").val('');
        grid = $("#AssetCategoryDocumentTypeMapgrid").data("kendoGrid");
        grid.addRow();
        SetAssetCategoryDocumentTypeMapgrid_edit(true);
    }


    $(document).ready(function () {


        $("#AssetCategoryDocumentTypeMapgrid_edit_button").on("click", function (e) {
            e.preventDefault();
            var grid = $("#AssetCategoryDocumentTypeMapgrid").getKendoGrid();
            var selectedrow = grid.select()[0];
            if (selectedrow) {
                grid.editRow(selectedrow);
                SetAssetCategoryDocumentTypeMapgrid_edit(true);
            }
        });

        $("#AssetCategoryDocumentTypeMapgrid_add_button").on("click", function () {
            AddAssetCategoryDocumentTypeMapgridrow();
        });

        $("#AssetCategoryDocumentTypeMapgrid_delete_button").on("click", function () {
            grid = $("#AssetCategoryDocumentTypeMapgrid").data("kendoGrid");
            var sel = $("#AssetCategoryDocumentTypeMapgrid").data("kendoGrid").select();
            grid.removeRow(sel);
            SetAssetCategoryDocumentTypeMapgrid_edit(false);
        });

        $("#AssetCategoryDocumentTypeMapgrid_update_button").on("click", function () {
            debugger;
            $("#AssetCategoryDocumentTypeMapgrid").data("kendoGrid").saveChanges();
            SetAssetCategoryDocumentTypeMapgrid_edit(false);
        });

        $("#AssetCategoryDocumentTypeMapgrid_cancel_button").on("click", function () {
            $("#AssetCategoryDocumentTypeMapgrid").data("kendoGrid").cancelChanges();
            SetAssetCategoryDocumentTypeMapgrid_edit(false);
        });
        SetAssetCategoryDocumentTypeMapgrid_edit(false);

        $("#AssetCategoryDocumentTypeMapgrid").kendoTooltip({
            filter: "th", // Select the th elements of the Grid.
            position: "top",
            width: 250,
            content: function (e) {
                // Return the text content of the hovered header.
                return e.target.text();
            }
        }).data("kendoTooltip");
    });


</script>

<body>
    <input type="hidden" name="AssetCategoryDocumentTypeMapID" id="AssetCategoryDocumentTypeMapID" />
<div>
        @{
            int AssetCategoryDocumentTypeMapPermission = (int)ViewData["AssetCategoryDocumentTypeMapPermission"];
        }
        @(Html.Kendo().Grid<AssetCategoryDocumentTypeMapModel>()
                        .Name("AssetCategoryDocumentTypeMapgrid")
                          .ToolBar(toolbar =>
                          {
                          toolbar.Template(@<text>
                                                <div class="toolbar">
                                                    @if (AssetCategoryDocumentTypeMapPermission >2){           
                                                     <div id="AssetCategoryDocumentTypeMapgrid_add_button" class="k-button-icontext k-grid-add circleButton">
                                                        <a href="#">
                                                            <span class="inner"></span>
                                                            <i class='far fa-plus-square' style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                    }
                                                    @if (AssetCategoryDocumentTypeMapPermission >3){
                                                    <div id="AssetCategoryDocumentTypeMapgrid_edit_button" class="k-button-icontext k-grid-edit circleButton">
                                                        <a href="#">
                                                            <span class="inner"></span>
                                                            <i class='far fa-edit' style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                    }
                                                    @if (AssetCategoryDocumentTypeMapPermission ==5){
                                                    <div id="AssetCategoryDocumentTypeMapgrid_delete_button" class="k-button-icontext k-grid-delete circleButton">
                                                        <a href="#">
                                                            <span class="inner"></span>
                                                            <i class='far fa-trash-alt' style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                    }
                                                    <div id="AssetCategoryDocumentTypeMapgrid_update_button" class="k-button-icontext k-grid-update circleButton">
                                                        <a href="#">
                                                            <span class="inner"></span>
                                                            <i class='far fa-check-circle' style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                    <div id="AssetCategoryDocumentTypeMapgrid_cancel_button" class="k-button-icontext k-grid-cancel circleButton">
                                                        <a href="#">
                                                            <span class="inner"></span>
                                                            <i class='far fa-times-circle' style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </text>);
                          })
                        .Columns(columns =>
                        {
				                  columns.Bound(p => p.DocumentTypeID).ClientTemplate("#:DocumentTypeName#").Title("Document");
				                  columns.Bound(p => p.DocTypeAssetCategoryID).ClientTemplate("#:AssetCategoryName#").Title("Category");
				                  columns.Bound(p => p.Deactivate).ClientTemplate("<input disabled type= 'checkbox' #= Deactivate ? checked='checked' :'' # />").EditorTemplateName("<input type= 'checkbox' #= Deactivate ? checked='checked' :'' # />");
                          columns.Bound(p => p.AssetCategoryDocumentTypeMapID).ClientTemplate(@"<div class='columnicon' style='background-image: url(" + @Url.Content("~/Images/info.jpg") + ");'></div>").Title("Change Info").Width(50);
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .Groupable()
                        .Resizable(resize => resize.Columns(true))
                        .Selectable(selectable =>
                        {
                            selectable.Mode(GridSelectionMode.Single);
                            selectable.Type(GridSelectionType.Row);
                        })
                        .Sortable(sortable =>
                        {
                            sortable.SortMode(GridSortMode.SingleColumn);
                        })
                        .Navigatable()
                        .Filterable()
                        .Scrollable(scr => scr.Height(300))
                        .Events(ev => ev
                            .Change("onAssetCategoryDocumentTypeMapgridChange")
                        )
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                        .Events(events => events
                            .Error("AssetCategoryDocumentTypeMapgriderror_error")
                            .RequestEnd("AssetCategoryDocumentTypeMapgridrequest_end")
                        )
                        .Read(ac => ac.Action("AssetCategoryDocumentTypeMaps_ReadByID", "AssetCategories").Data("CurrentID"))
                        .Create(ac => ac.Action("AssetCategoryDocumentTypeMaps_New", "AssetCategoryDocumentTypeMaps"))
                        .Update(ac => ac.Action("AssetCategoryDocumentTypeMaps_Update", "AssetCategoryDocumentTypeMaps"))
                        .Destroy(ac => ac.Action("AssetCategoryDocumentTypeMaps_Destroy", "AssetCategoryDocumentTypeMaps"))
                        .Model(model =>
                        {
				model.Id(p => p.AssetCategoryDocumentTypeMapID); model.Field(p => p.AssetCategoryDocumentTypeMapID).Editable(false);
				model.Field(p => p.DocTypeAssetCategoryID);
				model.Field(p => p.DocumentTypeID);
				model.Field(p => p.Deactivate);
				model.Field(p => p.CreateDate).Editable(false);
				model.Field(p => p.ChangeDate).Editable(false);
				model.Field(p => p.ChangedBy).Editable(false);
				model.Field(p => p.ChangedByFullName).Editable(false);
				model.Field(p => p.DocumentTypeName);
				model.Field(p => p.AssetCategoryName);
                        })
                        )
                        )
@(Html.Kendo().Tooltip()
    .For("#AssetCategoryDocumentTypeMapgrid")
    .Filter("td:nth-child(4)")
    //.ContentTemplateId("tooltiptemplate")
    .ContentHandler("getgridTooltip")
    .Position(TooltipPosition.Top)
    .Width(250)
    .Height(100)
)
    </div>

</body>

