
@{
    Layout = null;
}
<link href="@Url.Content("~/Content/SamsStyles.css")" rel="stylesheet" type="text/css" />
@*<script src="https://kit.fontawesome.com/e7007822f4.js" crossorigin="anonymous"></script>*@
@*@Styles.Render("~/Content/css")*@
<!--@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">-->
@*<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
<!--<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />-->

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<style>
    /*
 * These hover-margin's don't work for some reason
 * 0 - $spacing - $border
 * ($spacing + $border) * -1
*/



    /*.circleButton {
        float: left;
        font-size: 2em;
        margin-right: 40px;
        line-height: 70px;
        position: relative;
        text-align: center;
    }

    .circleButton a {
        background-color: #fff;
        color: #83CBF7;
        display: block;
        height: 70px;
        position: relative;
        text-decoration: none;
        width: 70px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: color 0.1s;
        -o-transition: color 0.1s;
        -webkit-transition: color 0.1s;
        transition: color 0.1s;
    }

    .circleButton a i {
        position: relative;
        line-height: 2;
        z-index: 1;
    }

    .circleButton a .inner {
        background-color: #83CBF7;
        display: block;
        height: 0;
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        width: 0;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: all 0.1s;
        -o-transition: all 0.1s;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
    }

    .circleButton a:hover {
        color: #fff;
    }

    .circleButton a:hover .inner {
            height: 66px;
            margin-left: -34px;
            margin-top: -34px;
            width: 66px;
        }*/
</style>

<body style="background-color: #83CBF7;">

    <div class="circleButton">
        <a href="#">
            <span class="inner"></span>
            <i class='far fa-trash-alt' style='font-size:36px'></i>
        </a>
    </div>

</body>    
